<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>

        Air Quality Classification - Login

    </title>

    <link
        rel="stylesheet"
        href="/static/css/style.css"
    >

    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    >

</head>

<body class="auth-page">

    <div class="auth-container">

        <!-- PROJECT HEADER -->

        <div class="project-header">

            <div class="project-icon">

                <i class="fa-solid fa-leaf"></i>

            </div>

            <h1>

                Air Quality Classification

            </h1>

            <h2>

                & Pollution Analysis

            </h2>

            <p>

                AI Powered Environmental Monitoring System

            </p>

        </div>

        <hr class="login-divider">

        <!-- LOGIN TITLE -->

        <h2 class="login-title">

            Welcome Back

        </h2>

        <p class="auth-subtitle">

            Sign in to continue to your dashboard.

        </p>

        <!-- LOGIN FORM -->

        <form id="loginForm">

            <div class="password-container">

                <input
                    type="text"
                    id="username"
                    placeholder="Username"
                    required
                >

            </div>

            <div class="password-container">

                <input
                    type="password"
                    id="password"
                    placeholder="Password"
                    required
                >

                <span
                    class="toggle-password"
                    onclick="togglePassword()"
                >
                    👁
                </span>

            </div>

            <button
                type="submit"
                class="login-btn"
            >

                <i class="fa-solid fa-right-to-bracket"></i>

                Login

            </button>

        </form>

        <p id="message"></p>

        <div class="auth-footer">

            <p>

                Don't have an account?

            </p>

            <a href="/register-page">

                Create Account

            </a>

        </div>

    </div>

    <script src="/static/js/login.js"></script>

</body>

</html>