<!DOCTYPE html>
<html>

<head>

    <title>
        Air Quality Management-Manage User
    </title>

    <link
        rel="stylesheet"
        href="/static/css/style.css"
    >

</head>

<body>

    <div class="dashboard-layout">

        <div class="sidebar">

            <h2>
                Admin Panel
            </h2>

            <button onclick="goToDashboard()">
                Dashboard
            </button>

            <button onclick="goToUsers()">
                Manage Users
            </button>

            <button
                class="logout-sidebar"
                onclick="logout()"
            >
                Logout
            </button>

        </div>

        <div class="main-content">

            <div class="container">

                <h2>
                    Registered Users
                </h2>

                <div id="usersTable"></div>

            </div>

        </div>

    </div>

    <script src="/static/js/users.js"></script>

</body>

</html>